/**************/
/* Custom CSS */
/**************/

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222;
    margin-bottom: 50px;
}

h1{
	font-size: 38px;
  letter-spacing: 0.75px;
}

h4{
	margin-bottom: 15px;
	font-size: 19px;
	font-weight: 700;
  line-height: 1.3;
}

.heading-holder{
    padding: 0 0 10px 0px;
    max-width: 824px;
    margin: 45px 0px 20px;
    border-bottom: 1px solid #cdcdcd;
}

.row {
	margin-top: 40px;
}

.stats-holder{
	float: left;
  padding: 20px 35px 25px 0px;
  display: block;
  font-size: 13px;
  letter-spacing: normal;  
}

.stats-holder span{
  font-size: 48px;	
	font-weight: 700;
  line-height: 1;
  letter-spacing: -.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#hillaryCount {
	color: #179ee0;
}

#trumpCount {
	color: #ff5d40;
}

canvas{
	margin: 0 auto;
  display: block;
}

.section-holder {
	padding-bottom: 15px;
}

.clear-fix {
	clear: both;
}

.doughnutChartHolder{
	margin-top: 5px;
}